@import "../global/variables.scss";

#header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .img_container {
    max-width: 4vw;

    img {
      transition: transform 1s ease-in-out;
      &.huge {
        transform: translateX(630%) scale(55);
      }
    }
  }

  h1 {
    margin: 10px 2vw;
    font-size: 2.5rem;
  }

  .rules {
    margin-left: auto;
    display: flex;
    cursor: pointer;

    .icon {
      width: 2vw;
      margin-right: 1vw;
    }

    button {
      border: none;
      margin: 0;
    }

    h4 {
      padding: 4px;
      margin: 0;
      background-color: $black;
      font-style: italic;
      font-family: $font-bold;
      cursor: pointer;
    }
  }
}
