@import "../global/variables.scss";

.navigation_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .title {
    h1 {
      margin: 0;
    }
  }

  .space {
    width: 60px;
  }

  .rules {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;

    button {
      padding: 0;
      border: none;
    }

    h4 {
      margin: 0;
      background-color: $black;
      color: $red;
      font-style: italic;
      font-family: $font-bold;
      padding: 0 4px 0 0;
      cursor: pointer;
    }
  }
}
