@import "../global/variables.scss";

#header {
  position: relative;
  z-index: 3;

  .navigation_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .img_container {
      max-width: 7vw;

      img {
        transition: transform 1s ease-in-out;
        &.huge {
          transform: translateX(630%) scale(55);
        }
      }
    }

    .title {
      h1 {
        margin: 10px;
        text-align: center;
      }
    }

    .space {
      width: 60px;
    }

    .rules {
      display: flex;
      cursor: pointer;

      .icon {
        width: 3vw;
        margin-right: 2vw;
      }

      button {
        border: none;
        margin: 0;
      }

      h4 {
        padding: 4px;
        margin: 0;
        background-color: $black;
        font-style: italic;
        font-family: $font-bold;
        cursor: pointer;
      }
    }
  }
}
