@import "../global/variables.scss";

.game_page {
  padding: 0 5vw;
  overflow: scroll;

  @media only screen and (min-width: 768px) {
    padding: 0 10vw;
  }

  .info_row {
    margin-bottom: 6vw;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        &:nth-of-type(3) {
          margin: 0;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 4vw;
    }

    .lead_trump_container {
      align-items: center;

      img {
        height: 2.5vw;
        width: unset;
        margin-top: 1vw;
      }
    }
  }
}
