@import "../global/variables";

.enter_game_button {
  text-decoration: none;
  font-family: $font-bold;
  font-size: 25px;
}

.copied {
  position: absolute;
  bottom: -35px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

.num_cards {
  text-align: center;
  max-width: 50px;
}
